main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30%;
  margin-top: 10%;
}

div {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
}
