main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 30%;
  margin-top: 10%;
}

div {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

.links {
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: start;
  align-items: left;
  gap: 5px;
}

hr {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
